.content {
    background-image: linear-gradient( #F28D23,#E84121);
}

.inner-product-left-image {
    left: 0;
    position: absolute;
}

.inner-product-right-image {
    right: 0;
    position: absolute;
}

.inner-product-left-image , 
.inner-product-right-image {
    bottom: 0;
    
    
}

.inner-page {
    padding-bottom: 200px;
    position:relative;
    min-height: calc(100vh - 192px);
    overflow: hidden;
}

.main-menu-list{
    padding: 0;
}

.logo {
    margin-right: 20px;
}

.address-bar li {
    padding: 5px;
    display:flex;
    color:white;
    font-weight:100;
  
}

.address-bar span {
    margin-left: 5px;
    
}

.inner-body-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.inner-product-header {
    display: flex;
    align-items: flex-end;
}

 .inner-product-header .address-bar {
    margin-bottom: 0;
}

.address-bar{
    padding:0;

}

.inner-product-header-logo {
    margin-left: 35px;
    margin-top: 25px;
}

.row {
    margin-right: -15px;
    margin-right: -15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-image {
    
    display: flex;
    align-items: flex-end;
    position: relative;
}

.product-text {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
.products{
    width: 15%; 
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 6px;
    
}

.products {
    background-color: hsla(0, 0%, 100%, .3);;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    color: white;
    font-size: 20px;
   
    
}

.inner-body-content {
    display: flex;
    align-items: center;
    
}

.product-title {
    margin-top: 10px;
}

